# =====================
# PROJECT
# =====================

# Project namespace (defaults to the current folder name if not set)
#COMPOSE_PROJECT_NAME=myproject


# =====================
# ELASTIC STACK
# =====================

# Password for the users (at least 6 characters)
ELASTIC_PASSWORD=changeme
KIBANA_PASSWORD=changeme

# Version of Elastic products
STACK_VERSION=8.7.1

# Set the cluster name
CLUSTER_NAME=docker-cluster

# Set to 'basic' or 'trial' to automatically start the 30-day trial
LICENSE=basic

# Port
ES_PORT=9200
KIBANA_PORT=5601

# Increase or decrease based on the available host memory (in bytes)
ES_MEM_LIMIT=1073741824
KB_MEM_LIMIT=1073741824
LS_MEM_LIMIT=1073741824

ENCRYPTION_KEY=change_this_to_a_long_random_string_32+chars

# =====================
# DATABASE
# =====================

POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_DB=db

# =====================
# .NET APPLICATION
# =====================

# General
ASPNETCORE_ENVIRONMENT=Production

# Application identity (useful for logs/SIEM)
APP_NAME=myapp
APP_VERSION=1.0.0
SERVICE_NAME=myapp-api

# Database
CONNECTIONSTRINGS__DEFAULTCONNECTION=Default_Connection_String

# JWT
JWT__KEY=THIS_IS_A_SUPER_SECRET_KEY_CHANGE_IT
JWT__ISSUER=your-app
JWT__AUDIENCE=your-app-users